# Core functionality - changes here should be rare!
/src/app.py                   @BradleyIRP
/src/backend/database.py      @BradleyIRP
/src/backend/routers/auth.py  @BradleyIRP

# The frontend will need refactored soon to be more object oriented.
/src/static/   @BradleyIRP
